// Reset des marges et des paddings
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Typographie de base
body {
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  color: $primary-color;
}
